body{
  background-color: #FCFFF5;
}

body p{
  font-size: 10px;
  font-family: "Open Sans";
}

h1, h2, h3, h4{
  font-family: "Merriweather", serif;
  color: #3E606F;
}


header{
  background-color: #3E606F;
  color: #FCFFF5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 40px;
  height: 40px;
  background-color: #FCFFF5;
}
.img-logo-header {
  width: 40px;
  height: 40px;
  background-color: #FCFFF5;
}

header a{
  width: 40px;
  height: 40px;
}

.filAriane, main a{
  font-size: 10px;
}

h1{
  font-size: 20px;
  text-align: center;
}

h3{
  font-size: 10px;
  text-align: center;
  font-style: italic;
}

h4{
  font-size: 15px;
}

main img{
  width: 80%;
}

main a{
  color: #172329;
  text-decoration: none;
}

.Chambre{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Service{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  background-color: #3E606F;
}

.footerBlocHorizontal1
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logoFooter{
  width: 30px;
  height: 30px;
  background-color: #FCFFF5;
}

#carte{
  width: 130px;
  height: 130px;
}

.footerBlocHorizontal1 ul{
  width: 30px;
  height: 30px;
}

.footerBlocHorizontal1 form{
  width: 30px;
  height: 30px;
}

/* .footerBlocHorizontal2
{
  display: flex;
  flex-direction: row;
} */

.footerBlocHorizontal2 a img{
  width: 20px;
  height: auto;
}

/* .footerBlocHorizontal3{
  display: flex;
  flex-direction: row;
} */
